.border{
	border: 1px solid #ADD6AD;
	margin: 10px;
	height: 100px;
}

body{
	background: -webkit-linear-gradient(#5C5C3D, #1F5C1F);
	background: -o-linear-gradient(#5C5C3D, #1F5C1F);
	background: -moz-linear-gradient(#5C5C3D, #1F5C1F);
	background: linear-gradient(#5C5C3D, #1F5C1F);
}

input{
	color: #001400;
	box-shadow: 5px 5px 250px #CCFFCC;
	border: 2px solid #A3CCA3;
	padding: 5px;
	margin: 5px;
	width: 200px;
	font-weight: normal;
	font-size: 80%;
}

.submit-btn{
	height: 64px;
	font-weight: bold;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 396px;
	margin-left: -15px;
	margin-top: 0px;
}

.img{
	margin-top: 7px;
}

.selects{
	padding: 3px;
	margin: 5px;
}

.dateInput{
	width: 30px;
	color: #001400;
	box-shadow: 5px 5px 250px #CCFFCC;
	border: 2px solid #A3CCA3;
	padding: 5px;
	margin: 5px;
	font-weight: normal;
	font-size: 80%;
	text-align: center;
	margin-right: -10px;
}

.yearInput{
	width: 50px;
	color: #001400;
	box-shadow: 5px 5px 250px #CCFFCC;
	border: 2px solid #A3CCA3;
	padding: 5px;
	margin: 5px;
	font-weight: normal;
	font-size: 80%;
	text-align: center;
}

textarea{
	font-weight: normal;
	color: #001400;
	box-shadow: 5px 5px 250px #CCFFCC;
	border: 2px solid #A3CCA3;
	font-size: 80%;
	width: 240px;
	height: 100px;
}

::-webkit-input-placeholder {
    color: #A3CCA3;
    font-style: italic;
}
:-moz-placeholder {
    color: #A3CCA3;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #A3CCA3;
    font-style: italic;
}

.row-sett{
	background: #E0FFC2;
	margin-bottom: 5px;
	width: 396px;
	margin-left: 0px;
}

.col-sett{
	background: yellow;
}

.linksSett{
	margin-top: -15px;
	font-weight: bold;
	background: #DBE9DB;
	color: #333399;
	border-bottom: 2px solid #E0C2FF;
	width: 846px;
	margin-left: -30px;
}

.dataSett{
	margin-top: 40px;
	font-weight: bold;
	color: #003300;
	font-size: 90%;
	margin-bottom: -20px;
}

.accountSettings{
	width: 850px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #A3CCA3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.panel-settings{
	border: 1px solid #1F5C1F;
	box-shadow: 5px 5px 55px #000000;
	margin-left: auto;
	margin-right: auto;
	width: 900px;	
}

.panel-settings > .panel-heading {
  color: #EFFFDE;
  font-size:large;
  font-weight: bold;
  background: -webkit-linear-gradient(#339933, #1F5C1F);
  background: -o-linear-gradient(#339933, #1F5C1F);
  background: -moz-linear-gradient(#339933, #1F5C1F);
  background: linear-gradient(#339933, #1F5C1F);
  border-color: #d6e9c6;
  }
  
  .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  }
  
