/****************************************
 *
 * Author: Paulina Ryfka
 *
 ****************************************/

body{
	background: -webkit-linear-gradient(#5C5C3D, #1F5C1F);
	background: -o-linear-gradient(#5C5C3D, #1F5C1F);
	background: -moz-linear-gradient(#5C5C3D, #1F5C1F);
	background: linear-gradient(#5C5C3D, #1F5C1F);
	text-align: center;
}

input{
	color: #001400;
	box-shadow: 5px 5px 250px #CCFFCC;
	border: 2px solid #A3CCA3;
	padding: 5px;
	margin: 5px;
}

textarea{
	font-weight: normal;
	color: #001400;
	box-shadow: 5px 5px 250px #CCFFCC;
	border: 2px solid #A3CCA3;
	font-size: 80%;
	width: 240px;
	height: 100px;
}

::-webkit-input-placeholder {
    color: #A3CCA3;
    font-style: italic;
}
:-moz-placeholder {
    color: #A3CCA3;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #A3CCA3;
    font-style: italic;
}

.panel-parla{
	border: 1px solid;
	border-color: #1F5C1F;
	box-shadow: 5px 5px 55px #000000;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
.panel-parla > .panel-heading {
  color: #EFFFDE;
  font-size:large;
  font-weight: bold;
  background: -webkit-linear-gradient(#339933, #1F5C1F);
  background: -o-linear-gradient(#339933, #1F5C1F);
  background: -moz-linear-gradient(#339933, #1F5C1F);
  background: linear-gradient(#339933, #1F5C1F);
  border-color: #d6e9c6;
  }
  
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}
  
.error {
    color: red;
    font-size: 70%;
}

.info_text {
    color: blue;
    font-size: 85%;
}
