.imgCol{
	margin-left: -15px;
}

.name{
	color:#E68A5C; 
	font-size:14px;
	font-weight: bold;
}

.txtMsg{
	font-size:14px;
	margin-left: -20px;
	width: 620px;
}

.messageInfo{
	margin-left: -10px;
}

.message{
	height: 40px;
}

.dateTime{
	color:green; 
	font-size:10px; 
	font-weight: bold;
}

.chatRow{
	background: #EDFFDC;
	padding-top: 30px;
	padding-left: 10px;
	padding-bottom: 30px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.chat{
	width: 750px;
	margin-top: -2px;
	margin-left: 0px;
        word-break: break-all;
}

.sendBtn{
	width: 88px;
	margin-left: -10px;
	margin-top: -2px;
	border-radius: 0px;
}

.chatHistory{
	border: 3px solid #D5E6C6;
        overflow-y:scroll;
        width: 838px;
        height: 400px;
        word-break: break-all;
}

.chatPanel{
	background: white;
	margin-top: 40px;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 5px 5px 55px #000000;
}

.userRow{
	border: 1px solid gray;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 170px;
}

.uploadTxt{
	font-weight: bold;
}

.avatar{
	text-align: center;
	margin-top: 10px;
}

.avatarUpload{
	text-align: left;
	border-right: 1px solid gray;
	padding: 8px;
	margin-left: 10px;
	color: #001A00; 
	height: 170px;
}

.chooseAvatar{
	font-size: 90%;
	border: 0px;
}

.uploadBtn{
	width: 200px;
	height: 40px;
}

.uploadInfo{
	font-size: 80%;
}

.userInfo{
	text-align: left;
	color: #47B224;
	padding: 15px;
	font-size: 16px;
}

.passBtn{
	height: 34px;
	text-align: center;
	vertical-align: center;
	margin-left: 30px;
}

.pass{
	margin-left: 20px;
	font-size: 90%;
	padding-top: 5px;
}

.infoTxt{
	font-weight: bold;
	color: #001A00;
	font-size: 14px;
}

.logout{
	text-align: right;
	padding-top: 8px;
	font-size: 16px;
	font-weight: bold;

}

body{
	background: -webkit-linear-gradient(#5C5C3D, #1F5C1F);
	background: -o-linear-gradient(#5C5C3D, #1F5C1F);
	background: -moz-linear-gradient(#5C5C3D, #1F5C1F);
	background: linear-gradient(#5C5C3D, #1F5C1F);
}

input{
	color: #001400;
	box-shadow: 5px 5px 250px #CCFFCC;
	border: 2px solid #A3CCA3;
	padding: 5px;
	margin: 5px;
	width: 300px;
}

::-webkit-input-placeholder {
    color: #A3CCA3;
    font-style: italic;
}
:-moz-placeholder {
    color: #A3CCA3;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #A3CCA3;
    font-style: italic;
}

.btn-log {
  background: -webkit-linear-gradient(#339933, #1F5C1F);
  background: -o-linear-gradient(#339933, #1F5C1F);
  background: -moz-linear-gradient(#339933, #1F5C1F);
  background: linear-gradient(#339933, #1F5C1F);
  float: right;
  border-color: #ccc;
  color: #EFFFDE;
  font-weight: bold;
  font-size: 80%;
  width: 80px;
}

.checkB{
	width: auto;
}

.sign{
	font-size: 90%;
}

.go{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.panel-login{
	margin-top: 10%;
	border: 1px solid;
	border-color: #1F5C1F;
	box-shadow: 5px 5px 55px #000000;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
.panel-login > .panel-heading {
  color: #EFFFDE;
  font-size:large;
  font-weight: bold;
  background: -webkit-linear-gradient(#339933, #1F5C1F);
  background: -o-linear-gradient(#339933, #1F5C1F);
  background: -moz-linear-gradient(#339933, #1F5C1F);
  background: linear-gradient(#339933, #1F5C1F);
  border-color: #d6e9c6;
  }
  
  .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  }
  
  


.frame {
    border: 1px solid green;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.error {
    color: red;
    font-size: 70%;
}
thead {
    background-color: #bfffbf;
}

