.border{
	border: 1px solid #ADD6AD;
	margin: 10px;
	height: 100px;
}

.info-txt{
	font-weight: bold;
}

.name-txt{
	font-weight: bold;
	margin-top: 10px;
}

.user_key{
    color: #52CC7A; 
    font-size: 12px;
}

.name{
	color: #009999; 
	font-size: 16px;
	font-weight: bold;
}

body{
	background: -webkit-linear-gradient(#5C5C3D, #1F5C1F);
	background: -o-linear-gradient(#5C5C3D, #1F5C1F);
	background: -moz-linear-gradient(#5C5C3D, #1F5C1F);
	background: linear-gradient(#5C5C3D, #1F5C1F);
	text-align: center;
}

.submit-btn{
	height: 64px;
	font-weight: bold;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 396px;
	margin-left: -15px;
	margin-top: 0px;
}

.img{
	margin-top: 8px;
}

.row-sett{
	background: #E0FFC2;
	margin-bottom: 5px;
	width: 350px;
}

.panel-settings{
	border: 1px solid #1F5C1F;
	box-shadow: 5px 5px 55px #000000;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	text-align: left;
}

.panel-settings > .panel-heading {
  color: #EFFFDE;
  font-size:large;
  font-weight: bold;
  background: -webkit-linear-gradient(#339933, #1F5C1F);
  background: -o-linear-gradient(#339933, #1F5C1F);
  background: -moz-linear-gradient(#339933, #1F5C1F);
  background: linear-gradient(#339933, #1F5C1F);
  border-color: #d6e9c6;
  }
  
  .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  }
  
